PUSHOVER_USER_TOKEN = ""
PUSHOVER_APP_TOKEN = ""

DISK_SPACE_FREE_PERC = 10

LOW_MEM_AVAIL_PERC = 10

PROC_HIGH_MEM_MB = 800

ALLOW_DOCKER_WILDCARD_BINDS = [
    "3478/tcp",   # NextCloud Talk
    "3478/udp",   # NextCloud Talk
]

ALLOW_CONTAINER_DOCKER_SOCKET = [
]

TEMP_PATHS = [
    "/tmp",
    "/var/tmp",
    "/run/user"
]

LOAD_MAX = 0.8
LOAD_SAMPLES = 5

HOST_PORTS_REACHABLE = [
    ("some.example.com", 80),
    ("some.example.com", 443),
    ("192.168.1.1", 22),
]

HTTP_BODY_CHECKS = [
    ("https://www.electricmonk.nl/log/", 200, "Programmer, DevOpper, Open Source enthusiast"),
]

SSL_CERT_CHECKS = [
    ("www.electricmonk.nl", 443, 7),
]

GIT_REPO_STATUS = [
    "/opt/apps/monpy",
    "/opt/apps/cve-tracker",
    "/opt/apps/postfix2pushover",
]
